workplace := "flatfile:{//building[1]}{//building[2]}{//user[1]}:${0}:${1}:${2}"
workhours := "time::2010-10-01T00:00:00Z;;12345;08:00:00;17:00:00"

(passage (building)(user)) => (and (ref workplace)(ref workhours))

//*/server/(server(ip 127.0.0.1)(host))
//*/operation/(operation)